<div>
	<% host = meal.basicHostData() %>
	
	<% var mealPhoto %>
	<% if (!meal.get("photo_url")) { %>
		<% mealPhoto = "https://s3-us-west-1.amazonaws.com/yumster/cupcakes.jpg" %>
	<% } else { %>
		<% mealPhoto = meal.get("photo_url") %>
	<% } %>
	
	<div id="meal-info" class="meal-info" data-id ="<%= host.get('id') %>" style="background-image: url('<%= mealPhoto %>'); border: none; margin: 0px;">
		<div class="host-profile">
			<img src="<%= host.get('photo_url') %>" class= "host-pic">
			<span style="float: left; margin-left: 5px;">
				<%= host.get("name")%>'s
			</span>
		</div>
		<div class="meal-blurb">
			<p class="tag"><%= meal.get("tag") %></p>
				<p> <%= meal.get("title") %> </p>
					<p class="address-price" style="font-size: 10px;">
						<span style="float: left; width: 10vw;"> @<%= host.get('address') %> </span>
						<span style="float: right;">$<%= meal.get('price') %>/p </span>
					</p>
				</div>
		</div>
</div>