<div class="row">
	<% if (current_user.get('id') === user.get('id')) { %>
	<div class="col-md-6">
 <button style="border-radius: 0px; -webkit-appearance: none; margin-top: 20px; margin-left: -15px;" type="submit" class='btn btn-default modal-button'>New Listing</button>
 </div>
 <% } %>
</div>

<% listings.forEach( function (meal, index) { %>
<div class="row">
	<h3 class="meal-header"> <%= meal.get("title") %> </h3>
	<div class="meal-div">
		<div class="col-md-3">
			<% var mealPhoto %>
			<% if (!meal.get("photo_url")) { %>
				<% mealPhoto = "https://s3-us-west-1.amazonaws.com/yumster/cupcakes.jpg" %>
			<% } else { %>
				<% mealPhoto = meal.get("photo_url") %>
			<% } %>
	    <div data-meal-id="<%= meal.get('id') %>" class="user-meal meals meal-click" style="background-image: url('<%= mealPhoto %>');"></div>
		</div>
		<div class="col-md-7">
			<div class="row">
				<span class="glyphicon glyphicon-calendar"> </span>
				<%= meal.get("date") %>
			</div>
				<!-- <span class="glyphicon glyphicon-calendar"> </span> -->
			<div class="row">
				<span class="glyphicon glyphicon-map-marker"> </span>
				<%= user.get("address") %>
			</div>
		</div>
		<% if (current_user.get('id') === user.get('id')) { %>
		<div class="col-md-2">
			<select data-meal-id="<%= meal.get('id') %>" data-meal-ind="<%= index %>" class="search-bar update" name="update">
				<option value="" disabled selected>Manage</option>
				<option value="update">Update</option>
				<option value="delete">Delete</option>
			</select>
		</div>
		<% } %>
	</div>
</div>
<% }) %>