<nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="font-family: 'Quicksand', sans-serif;">
	<div class="container container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#"><%= image_tag "https://s3-us-west-1.amazonaws.com/yumster/yumster-logo.png", size: "150x40", id: "logo" %></a>
		</div>

		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
			  
<!--search bar -->
				<li class='left-nav-list-item'>
					<form class='navbar-form navbar-left' id='search-wrapper' role='search'>
						<div class='form-group'>
							<input id="header-lat" type="hidden" name="lat">
							<input id="header-lng" type="hidden" name="lng">
							<input style="border-radius: 0px; -webkit-appearance: none; width: 230px;" type='text' id='location-header' class='form-control' name='location' placeholder='Location'>
						</div>
						<button style="border-radius: 0px; -webkit-appearance: none; margin-left: -4px;" type='submit' id="button-header" class='btn btn-default' data-toggle="tooltip" data-placement="bottom" title="Get started by searching for meals in San Francisco, Mountain View, Cupertino, or Sunnyvale.">Search</button>
					</form>
				</li>
								
				<% if signed_in? %>
					
			    <li class='left-nav-list-item' style="margin-left: 130px; margin-top: 5px;">
						<img src="<%= current_user.photo_url %>" class= "host-pic">
					</li>
					
					<li class='left-nav-list-item' style="margin-left: 5px;">
					<div class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
						<%= current_user.name %>
						<span class="caret"></span>
					</div>

					<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1" style="margin-top: 16px;">
						<li data-user-id="<%= current_user.id %>" class="menu-click" data-query="meals" role="presentation"><a role="menuitem" tabindex="-1" href="#">Meals</a></li>
						<li data-user-id="<%= current_user.id %>" class="menu-click" data-query="listings" role="presentation"><a role="menuitem" tabindex="-1" href="#">Listings</a></li>
						<!-- <li role="presentation"><a role="menuitem" tabindex="-1" href="#">View Profile</a></li> -->
						<!-- <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Edit Profile</a></li> -->
						<li role="presentation"><%= link_to "Sign out", session_url, method: :delete, role: "menuitem", tabindex: "-1" %></li>
					</ul>
					</li>
  
				<% else %>
				<li>
					<a data-toggle="modal" data-target="#sign-up-modal">Sign Up
					</a>
				</li>
				<li data-toggle="tooltip" data-placement="bottom" title="Sign in to update/create meal listings, and cancel current meals.">
					<a data-toggle="modal" data-target="#sign-in-modal">Log In
					</a>
				</li>
				<% end %>
			</ul>
		</div>
	</div>
</nav>

<% if flash[:errors] %>
<div class="alert alert-warning alert-dismissible" role="alert">
	<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	<%= flash[:errors].join("<br>").html_safe %>
</div>
<% end %>

<div class="modal fade" id="sign-in-modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close btn" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title">Log In</h4>
			</div>
			<div class="modal-body">
				
				<%= render partial: "sessions/new" %>
				
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
	
<div class="modal fade" id="sign-up-modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close btn" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title">Sign Up</h4>
			</div>
			<div class="modal-body">
				
				<%= render partial: "api/users/new" %>
				
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
	
<script>
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>